.App {
  text-align: center;
  display: flex;
  justify-content: center
}

.calc-body {
  background-color: #E8F1F2;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  border: 1px solid black;
  border-radius: 10px
}

.spacer {
  margin: 0 10px 0 10px;
  border-bottom: 2px solid black;
}
