.App {
  text-align: center;
  display: flex;
  justify-content: center
}

.calc-body {
  background-color: #E8F1F2;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  border: 1px solid black;
  border-radius: 10px
}

.spacer {
  margin: 0 10px 0 10px;
  border-bottom: 2px solid black;
}

.display {
  margin: 15px;
  padding: 10px;
  text-align: right;
  background-color: lightgray;
  border-radius: 10px;
}

.keypad-container {
  margin: 15px;
  display: flex;
  
}

.keypad {
  width: 60%;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}

.key-reg {
  width: 60px;
  height: 60px;
  background-color: #F18F01;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 3px 3px 5px #695958;
  margin: 5px
}

.key-big {
  width: 133px;
  height: 60px;
  background-color: #F18F01;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 3px 3px 5px #695958;
  margin: 5px

}
